version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"     
    open-pull-requests-limit: 5
    allow:
      - dependency-type: "direct"   
      - dependency-type: "all"      
    security-updates-only: true     
    commit-message:
      prefix: "security"
      include: "scope"
    groups:
      security-fixes:
        applies-to: security-updates
        patterns:
          - "*"
