.about-me-section {
  background-color: var(--mediumBlue-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  cursor: pointer;
}
.about-me-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.about-me-title-arrows-left {
  rotate: 90deg;
  transition: rotate 0.3s ease-in-out;
}
.about-me-title-arrows-left.open {
  rotate: 270deg;
}
.about-me-title-arrows-right {
  rotate: 90deg;
  transition: rotate 0.3s ease-in-out;
  margin-bottom: 1rem;
}
.about-me-title-arrows-right.open {
  rotate: -90deg;
  margin-bottom: 0;
}
.about-me-text {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
  transition: height 0.3s ease-in-out;
}
.about-me-text.open {
  display: flex;
  min-height: 10rem;
}
.about-me-text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: auto;
  transition: height 0.3s ease-in-out;
}