.hero-section {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.hero-section-text-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2rem;
}

.hero-section-text-content-arrows-right {
  color: rgba(0, 0, 0, 0.5);
  rotate: 90deg;
  transition: rotate 0.3s ease-in-out;
  margin-bottom: 1rem;
}

.hero-section-text-content-arrows-right.open {
  rotate: -90deg;
  margin-bottom: 0;
}

.hero-section-text-description {
  max-height: 0;
  opacity: 0;
  padding: 0;
  transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s ease-in-out, padding 0.3s ease-in-out;
}

.hero-section-text-description.open {
  max-height: 500px;
  opacity: 1;
  padding: 2rem 0;
}

.hero-section-text-description p {
  margin: 0 auto;
  width: 70%;
}

.hero-section-text-description p {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 600px) {
   .hero-section {
    border-radius: 0;
  }
  .hero-section-text {
    padding-top: 2rem;
  }
}
