.hero-section {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  cursor: pointer;
  /* margin-top: 4rem; */
  border-radius: 5px 5px 0 0;
  background-color: rgba(229, 239, 255, 0.8);
  /* box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3); */
  overflow: hidden;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 1rem;
}

.hero-section-text-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.hero-section-text-content h2 {
  font-family: 'Courier New', Courier, monospace;
  /* background-color: rgba(255, 255, 255, 0.8); */
  border-radius: 50px;
  padding: 0.5rem 2rem;
  box-shadow: 0;
}

.hero-section-text-content-expand-collapse {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
  font-size: 0.8rem;
  transition: transform 0.3s ease-in-out;
}
.hero-section-text-content-expand-collapse:hover {
  transform: scale(1.50);
}

.hero-section-text-content-expand-collapse.open {
  margin-bottom: 0;
  transform: rotateX(180deg);
}

.hero-section-first-expand-collapse-line {
  display: flex;
  width: 2rem;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.25);
  margin: 2px 0;
  transition: transform 0.3s ease-in-out;
}
.hero-section-second-expand-collapse-line {
  display: flex;
  width: 1rem;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.25);
  margin: 2px 0;
  transition: transform 0.3s ease-in-out;
}

.hero-section-text-description {
  max-height: 0;
  opacity: 0;
  padding: 0;
  transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s ease-in-out, padding 0.3s ease-in-out;
}

.hero-section-text-description.open {
  max-height: 500px;
  opacity: 1;
  padding: 2rem 0;
}

.hero-section-text-description p {
  margin: 0 auto;
  width: 70%;
}

.hero-section-text-description p {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 600px) {
   .hero-section {
    margin-top: 1rem;
  }
  .hero-section-text {
    padding-top: 2rem;
  }
}
