.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--white-color);
  margin: 4rem auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}
@media (max-width: 600px) {
  .content {
    margin: auto;
  }
}