/* NavBar starts */
.NavBar-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
  background-color: #FFF;
  box-sizing: border-box;
  transition: height 0.3s ease-in-out;
  z-index: 1000;
}
.NavBar-section-logo {
  cursor: pointer;
}
.NavBar-section-logo img {
  height: 4rem;
  margin-left: auto;
}

.NavBar-section button {
  display: none;
}

.NavBar-section nav ul {
  display: flex;
  list-style: none;
}

.NavBar-section-link{
  color: var(--link-color);
  margin: 0 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.NavBar-section-link:hover {
  transform: scale(1.25);
}
/* NavBar ends */

@media (max-width: 600px) {

  .NavBar-section {
    min-height: 65px;
  }

  .NavBar-section nav ul {
    /* Not needed when nav-links are displayed with animation */
    /* display: none; */
  }

  .NavBar-section button {
    display: flex;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
    width: 30px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
  }

  .hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    background: black;
    border-radius: 2px;
    transition: 0.3s ease;
  }

  .hamburger.open span:nth-child(1) {
    /* Looks better on device emulation i MS Edge */
    /* transform: rotate(45deg) translate(6.5px, 7px); */
    /* Looks better on actual phone */
    transform: rotate(45deg) translate(7px, 8px);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0; /* Döljer mittenlinjen */
  }

  .hamburger.open span:nth-child(3) {
    /* Looks better on device emulation i MS Edge */
    /* transform: rotate(-45deg) translate(6.5px, -7px); */
    /* Looks better on actual phone */
    transform: rotate(-45deg) translate(7px, -8px);
  }
  /* Nav-links displayed with animation */
  .nav-links {
    opacity: 0;
    transform: translateY(-50px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    margin-top: 25px;
    width: 100%;
    left: 0;
    background: var(--white-color);
    padding: 1rem 0rem;
    gap: 1rem;
    z-index: 999;
  }
  .nav-links.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  /* Nav-links displayed without animation */
  /* .nav-links.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    margin-top: 25px;
    width: 100%;
    left: 0;
    background: var(--white-color);
    padding: 1rem 0rem;
    gap: 1rem;
  } */
}