#Projects {
  width: 100%;
}
.project-tiles-container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  /* max-height: 40rem;
  overflow-y: auto; */
}
.project-tiles-container ul li{
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 20rem;
  height: 30rem;;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 2rem;
  background-color: var(--lightBlue-color);
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.project-tiles-container ul li img {
  width: 100%;
  height: 14.5rem;
  border-bottom: 1px solid rgba(18, 52, 86, 0.3);
  object-fit: cover;
}
.project-tiles-container ul li p {
  font-size: 0.8rem;
  margin: 0.8rem;
  height: 6rem;
}
.project-tile-links {
  margin: 1rem;
}
.project-tile-links a {
  display: inline-block;
  color: var(--link-color);
  font-size: 1.2rem;
  margin: 0 0.5rem;
  transition: transform 0.3s ease-in-out;
}

.project-tile-links a:hover {
  transform: scale(1.25);
}
@media (max-width: 900px) {
  .project-tiles-container ul li {
    width: 85%;
    max-width: 30rem;
    height: auto;
  }
  .project-tiles-container ul li img {
    height: auto;
  }
  .project-tiles-container ul li p {
    font-size: 0.9rem;
    height: auto;
  }
}
@media (max-width: 600px) {
  .project-tiles-container ul li {
    width: 85%;
    height: auto;
    margin: 2rem 0rem;
  }
  .project-tiles-container ul li img {
    height: auto;
  }
  .project-tiles-container ul li p {
    font-size: 0.9rem;
    height: auto;
  }
}
  
