:root {
  --lightBlue-color: aliceblue;
  --mediumBlue-color: #e6f1ff;
  --darkBlue-color: #00005e;
  --white-color: #FFF;
  --link-color: darkblue; 
  --black-color: #000;
}

body {
  background-color: var(--lightBlue-color);
  width: 100%;
  min-width: 300px;
  padding-top: 60px;
  align-items: center;
  justify-content: center;
}

.container {
  margin: auto;
  width: 90vw;
  min-width: 300px;
}
h1 {
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  color: var(--black-color);
  margin: 20px 0;
}

.separator-line {
  width: 80%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}


@media (max-width: 600px) {
  .container {
    position: relative;
    width: 100%;;
  }
}