/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

:root {
  --lightBlue-color: aliceblue;
  --mediumBlue-color: #e6f1ff;
  --white-color: #FFF;
  --link-color: darkblue; 
  --black-color: #000;
  --darkBlue-color: #00005e;
}

body {
  background-color: var(--lightBlue-color);
  width: 100%;
  min-width: 300px;
  padding-top: 60px;
  align-items: center;
  justify-content: center;
}

.container {
  margin: auto;
  width: 90vw;
  max-width: 1200px;
  min-width: 300px;
}
h1 {
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  color: var(--black-color);
  margin: 20px 0;
}


@media (max-width: 600px) {
  .container {
    position: relative;
  }
}